@model foodies.Models.Group

<br />
<br />
<h2 class="color2 titlefont">Create your Group!</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Groups"))
{

    @Html.Label("Name", "Group Name", new { @style = "color:#f5c242" })
    <br />
    @Html.TextBox("Name", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
    <br /><br />

    @Html.Label("About", "About Group", new { @style = "color:#f5c242" })
    <br />
    @Html.TextArea("About", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.About, null, new { @class = "text-danger" })
    <br /><br />

    <button type="submit"  class="sidebyside btn btn-dark btncolor">Create</button>


}

