@model  RealProject.Models.Profile

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm(actionName: "Edit", controllerName: "Profiles"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    @Html.HiddenFor(m => m.UserId)

    @Html.Label("Name", "Your Name")
    <br />
    @Html.EditorFor(m => m.ProfileName)
    @Html.ValidationMessageFor(m => m.ProfileName, null, new { @class = "text-danger " })
    <br /><br />
    @Html.Label("Description", "Profile description")
    <br />
    @Html.EditorFor(m => m.Description)
    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger " })
    <br /><br />
    @Html.Label("FavouriteFood", "Your favorite food")
    <br />
    @Html.Editor("FavouriteFood")
    @Html.ValidationMessageFor(m => m.FavouriteFood, null, new { @class = "text-danger " })
    <br /><br />

    <button type="submit">Modify your description</button>
}