
<h1 class="color2 titlefont">@ViewBag.User.Nickname</h1>
<br>
<br>

@if (ViewBag.PrivateProfile == true && ViewBag.IsAdmin == false)
{
    <h2 class="txtfont">This profile is private and cannot be accessed:(</h2>
}
else
{

    if (ViewBag.Profile.Description == null)
    {
        <p class="txtfont">@ViewBag.User.Nickname doesn't have a description.</p>
    }
    else
    {
        <p class="txtfont">About @ViewBag.User.Nickname : @ViewBag.Profile.Description</p>
    }

    if (ViewBag.Profile.FavouriteFood == null)
    {
        <p class="txtfont">They don't have a favourite food.</p>
    }
    else
    {
        <p class="txtfont">Their favourite food : @ViewBag.Profile.FavouriteFood</p>
    }
    <br>
    <h3 class="txtfont" style="font-size: 27px;">@ViewBag.User.Nickname 's posts:</h3>
    <br>
    foreach (RealProject.Models.Post post in ViewBag.UserPosts)
    {
        <div class="panel panel-default panel-borderless">
            @Html.Partial("PostInfo", post)
            <div class="panel-footer panel-borderless" style="background-color:#292929; border: 0;">
                <form action="/Posts/Show/@post.Id">
                    <input class="btn btncolor" type="submit" value="Show Post" />
                </form>
            </div>


        </div>

    }
}

