@model RealProject.Models.Post

@{
    ViewBag.Title = "Show";
}
<br />


<div class="panel panel-default panel-borderless">
    @Html.Partial("PostInfo", Model)

    @if (ViewBag.showButtons == true && Model.UserId == ViewBag.crtUser || ViewBag.isAdmin)
    {
    <div class="panel-footer panel-borderless" style="background-color:#292929; border: 0;">

        

        <form action="/Posts/Edit/@Model.Id" style="transform: translate(0px, 1px)">
            <input class="pull-left btn btncolor" type="submit" value="Modify Post" />
        </form>

        @using (Html.BeginForm(actionName: "Delete", controllerName: "Posts", method: FormMethod.Post, routeValues: new { id = @Model.Id }))
            {
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-danger pull-right" type="submit">Delete post</button>
            }
        <div class="clearfix"></div>
    </div>
    }


</div>


<br />
@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <p class="commentText">@comm.Content</p>
                    <small class="pull-right" style="color:#f5c242">@comm.Date</small>
                    <i class="glyphicon glyphicon-user" style="color:#f5c242"></i><strong style="color:#f5c242"> @comm.User.Nickname </strong>
                </div>

                @if (comm.UserId == ViewBag.crtUser || ViewBag.isAdmin)
                {
                    <div style="display: inline-block; float : left; margin-right: 15px">
                        <a class="glyphicon glyphicon-pencil" style="color:#f5c242" href="/Comments/Edit/@comm.CommentId"></a>
                    </div>
                    <div style="display: inline-block; float : left">
                        <form method="post" action="/Comments/Delete/@comm.CommentId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="glyphicon glyphicon-trash" style="border: none; background: transparent; color:#f5c242" type="submit"></button>
                        </form>
                    </div>
                }

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br />
    <br />
}


<div class="container panel-borderless" style="color: #202020">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="panel panel-borderless">
                <form method="post" class ="panel-borderless"; style="background-color: #202020" action="/Posts/Show/@Model.Id">
                    <div class="panel-body panel-borderless">
                        <input type="hidden" name="PostId" value="@Model.Id" />
                        <label style="color: white;">Comment</label>
                        <br />
                        <textarea class="form-control" name="Content"></textarea>
                        @Html.ValidationMessage("Content", "", new { @class = "text-danger"})
                        <br />
                        <button class="sidebyside btn btn-dark btncolor" type="submit">Add comment</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>







