<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Foodies</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Foodies", "Index", "Posts", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.IsInRole("Admin"))
                    {

                        <li>@Html.ActionLink("Posts feed", "Index", "Posts")</li>
                        <li>@Html.ActionLink("Add post", "New", "Posts")</li>
                        <li>@Html.ActionLink("Display tags", "Index", "Tags")</li>
                        <li>@Html.ActionLink("Add tag", "New", "Tags")</li>
                        <li>@Html.ActionLink("Find Foodists", "Index", "Profiles")</li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Groups</a>
                            <ul class="dropdown-menu">

                                <li>@Html.ActionLink("Find Group", "Index", "Groups")</li>
                                <li>@Html.ActionLink("My Groups", "IndexSelf", "Groups")</li>
                                <li>@Html.ActionLink("Create Group", "New", "Groups")</li>



                            </ul>
                        </li>

                    }

                    @if (User.IsInRole("Editor"))
                    {

                        <li>@Html.ActionLink("Posts feed", "Index", "Posts")</li>
                        <li>@Html.ActionLink("Add post", "New", "Posts")</li>
                        <li>@Html.ActionLink("Find Foodists", "Index", "Profiles")</li>

                        //foarte posibil ca aplicatia noastra sa n aiba nevoie de editori
                    }

                    @if (User.IsInRole("User"))
                    {
                        <li>@Html.ActionLink("Posts feed", "Index", "Posts")</li>
                        <li>@Html.ActionLink("Add post", "New", "Posts")</li>
                        <li>@Html.ActionLink("Find Foodists", "Index", "Profiles")</li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Groups</a>
                            <ul class="dropdown-menu">

                                <li>@Html.ActionLink("Find Group", "Index", "Groups")</li>
                                <li>@Html.ActionLink("My Groups", "IndexSelf", "Groups")</li>
                                <li>@Html.ActionLink("Create Group", "New", "Groups")</li>



                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Foodies Inc.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
