<div class="panel-heading">@Model.Title</div>
<div class="panel-body">
    <strong>@Model.Content</strong>
    <br />
    <span class="label label-success">@Model.Date</span>
    <br />
    <i class="glyphicon glyphicon-globe"></i> @Model.Tag.TagName
    <br />
    <i>posted by</i><strong> @Model.User.Nickname </strong>
    <hr>
</div>


